<div class="row">
  <nav>
    <ul>
      <li>
        <button mat-button>Home</button>
      </li>
      <li>
        <button mat-button>Works</button>
      </li>
      <li>
        <button mat-button>Contact</button>
      </li>
      <li>
        <button mat-button>Bio</button>
      </li>
    </ul>
    <ul>
      <li>
        <button mat-button>facebook</button>
      </li>
      <li>
        <button mat-button>instagram</button>
      </li>
      <li>
        <button mat-button>twitter</button>
      </li>
    </ul>
  </nav>
</div>
