:host {
  background-color: var(--dark-gray);
  display: block;
  color: white;
  padding: 1em 0;
}

hr {
  margin: 50px 0;
  border-top: 1px solid rgba(255, 255, 255, .05);
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;

}
