<div class="row">
  <div class="flex">
    <div>
      <ul>
        <li>
          <button mat-button>Terms of use</button>
        </li>
        <li>
          <button mat-button>Privacy policy</button>
        </li>
        <li>
          <button mat-button>About</button>
        </li>
      </ul>
    </div>
    <div>
      <ul>
        <li>
          <button mat-button>052-1111-123</button>
        </li>
        <li>
          <button mat-button>ItayMatan95@gmail.com</button>
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <p>© Itay Matan 2020</p>
</div>
