.white-wave {
  content: " ";
  height: 100vh;
  position: relative;
  z-index: 1;
}

.white-wave::after {
  content: " ";
  position: absolute;
  bottom: 0;
  background-image: url("/assets/img/wave-white.svg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
  width: 100%;
  height: 300px;
  display: block;
}
