:root {
  --dark-gray: rgb(34, 34, 34);
  --site-width: 1024px;
}

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100% !important;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.row {
  max-width: var(--site-width);
  margin: 0 auto;
}

a,
button {
  font-family: Roboto,
    "Helvetica Neue",
    sans-serif;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 500;
}
